<section class="home-banner">
  <div class="d-lg-none">
    <a href="#donate-now" class="go-to-basket"><div
      class="d-flex align-items-center cover"
      style="background-image: url('./assets/images/UNICEF_BOH_MOBILE_03.png')"
    ></div>
  </div></a>

  <div class="d-none d-lg-block">
    <a href="#donate-now" class="go-to-basket"><div
      class="d-flex align-items-center cover"
      style="background-image: url('./assets/images/UNICEF_BOH_DESKTOP_02.png')"
    ></div></a>
  </div>
</section>
<a href="#about-basket" id="arrow-down"
  ><img src="./../../assets/images/ARROW DOWN.png"
/></a>
