<section class="home-banner">
  <div
    class="d-flex align-items-center cover"
    style="background-image: url('../../../assets/images/unicef-banner.png')"
  >
    <div class="container">
      <div
        class="banner-text row justify-content-center justify-content-md-start"
      >
        <div class="col-10 col-md-6">
          <h1 class="display-4">Fill the future with hope</h1>
          <p>
            It takes a village to raise a child, and a nation to build a better
            future for them.
          </p>
          <p>
            Join us in helping Filipino children get access to vaccines,
            education, nutrition, hygiene, and life-saving interventions by
            pitching in the Basket of Hope.
          </p>

          <a id="cta-donate" href="#donate-now" class="btn btn-primary"
            >Donate Now</a
          >
        </div>
      </div>
    </div>
  </div>

  <a href="#about-basket" id="arrow-down"
    ><img src="./../../assets/images/ARROW DOWN.png"
  /></a>
</section>
