<section id="about-basket" class="home-about-basket">
  <div class="inner">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <h2>About the Basket of Hope</h2>
          <p>
            Today, children are even more vulnerable. On top of the risk of
            COVID-19, they now face greater hurdles to receive education,
            protection, immunization, and the support they need to enjoy full,
            healthy lives. But we believe that a better future for all is still
            possible—if we work together. With the Basket of Hope, everyone can
            pitch in and pass forward our hopes for the future through the
            children of our nation.
          </p>
        </div>
        <div class="col-6"></div>
      </div>
    </div>
  </div>
</section>
