<div class="register-form">
    <h3 class="widget-title">Personal Information</h3>
    <small class="req-label">*These fields are required.</small>

    <div id="reg-form" class="parsley-form">
      <div class="row">
        <div class="col-sm-6">
          <fieldset class="form-fieldset">
            <input
              type="text"
              name="donor[first_name]"
              class="form-input"
              placeholder="First Name*"
              required
              data-parsley-required-message="This field is required."
              data-parsley-trigger="focusout">
          </fieldset>

          <fieldset class="form-fieldset">
            <input
              type="text"
              name="donor[last_name]"
              class="form-input"
              placeholder="Last Name*"
              required
              data-parsley-required-message="This field is required."
              data-parsley-trigger="focusout">
          </fieldset>
        </div>
        <div class="col-sm-6">
          <fieldset class="form-fieldset">
            <div class="form-mobile-input-grp">
              <input
                type="number"
                name="donor[mobile_number]"
                id="mobile-number"
                class="form-input -mobilenumber"
                required
                placeholder="Mobile Number*"
                maxlength="18"
                minlength="08"
                value=""
                pattern="^([0-9]{08,18})$"
                data-parsley-pattern-message="This mobile number format is not recognized. Please input a valid mobile country code format 00 000 000000."
                data-parsley-required-message="This field is required"
                data-parsley-trigger="focusout"
                oninput="
                javascript:
                  if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
              </div>
          </fieldset>

          <fieldset class="form-fieldset">
            <input
              class="form-input"
              name="donor[email_address]"
              type="email"
              placeholder="Email*"
              required
              data-parsley-required-message="This field is required."
              data-parsley-trigger="focusout">
          </fieldset>
        </div>
      </div>

      <div class="mt-5">
        <h3 class="widget-title">Payment Method</h3>
        <div class="row">
          <div class="col-6 col-lg-4">
            <div class="payment-method-option">
              <div class="payment-logo" style="background-image: url('../../assets/images/card.png')">
              </div>
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                required
                value="1">
              <span class="radio-choice-label">Credit/Debit Card</span>
            </div>
          </div>

          <div class=" col-6 col-lg-4">
            <div class="payment-method-option">
              <!-- <img src="../../assets/images/paypal.png" alt="Paypal" /> -->
              <div class="payment-logo" style="background-image: url('../../assets/images/paypal.png')">
              </div>
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                data-parsley-trigger="focusout"
                value="6">
              <span class="radio-choice-label">Paypal</span>
            </div>
          </div>

          <div class="col-6 col-lg-4">
            <div class="payment-method-option">
              <div class="payment-logo" style="background-image: url('../../assets/images/gcash-logo-square.png'); background-size: 100px">
              </div>
              <!-- <img src="../../assets/images/gcash-logo-square.png" alt="GCash" /> -->
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                data-parsley-trigger="focusout"
                value="3">
              <span class="radio-choice-label">Gcash</span>
            </div>
          </div>

          <div class="col-6 col-lg-4">
            <div class="payment-method-option">
              <div class="payment-logo" style="background-image: url('../../assets/images/online-banking.png')">
              </div>
              <!-- <img src="../../assets/images/online-banking.png" alt="Online Banking" /> -->
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                data-parsley-trigger="focusout"
                value="18">
              <span class="radio-choice-label">Online Banking</span>
            </div>
          </div>

          <div class="col-6 col-lg-4">
            <div class="payment-method-option">
              <!-- <img src="../../assets/images/cebuana.png" alt="Cebuana" /> -->
              <div class="payment-logo" style="background-image: url('../../assets/images/cebuana.png')">
              </div>
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                data-parsley-trigger="focusout"
                value="19">
              <span class="radio-choice-label">Cebuana Lhuillier</span>
            </div>
          </div>

          <div class="col-6 col-lg-4">
            <div class="payment-method-option">
              <!-- <img src="../../assets/images/over-the-counter.png" alt="Over the counter" /> -->
              <div class="payment-logo" style="background-image: url('../../assets/images/over-the-counter.png')">
              </div>
              <input
                class="radio-input"
                name="payment-method"
                type="radio"
                data-parsley-trigger="focusout"
                value="20">
              <span class="radio-choice-label">Over-the-Counter/ATM Payment</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="action-btn">
      <button type="submit" class="btn btn-primary" id="pay-btn">
        Proceed
      </button>
      <button type="button" class="btn btn-link">Back</button>
    </div>
  </div>
</div>