<section id="donate-now" class="home-how-it-works">
  <div class="container">
    <h2 class="title">How it works</h2>
    <p class="subtitle">
      Choose a cause you wish to support. Every donation counts!
    </p>

    <div class="row product-row">
      <div class="col-md-4">
        <a href="#">
          <div class="card product-card">
            <img
              class="card-img-top"
              src="../assets/images/product1.jpg"
              alt="COVID-19 Safety"
            />
            <div class="card-body">
              <h5 class="card-title">
                Basket for <span>COVID-19 Safety</span>
              </h5>
              <p class="card-text">
                Provide isolation tents, PPEs, and sanitation and hygiene
                supplies for healthcare facilities.
              </p>
            </div>

            <div class="d-flex action-donate">
              <div class="text-center col"><span>P500</span></div>
              <div class="text-center col"><span>Donate Now</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <div class="card product-card">
            <img
              class="card-img-top"
              src="../assets/images/product2.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Basket for <span>Immunization</span></h5>
              <p class="card-text">
                Fund transport for 2 health workers to vaccinate children in
                remote areas.
              </p>
            </div>

            <div class="d-flex action-donate">
              <div class="text-center col"><span>P1,000</span></div>
              <div class="text-center col"><span>Donate Now</span></div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-4">
        <a href="#">
          <div class="card product-card">
            <img
              class="card-img-top"
              src="../assets/images/product3.jpg"
              alt="Card image cap"
            />
            <div class="card-body">
              <h5 class="card-title">Basket for <span>Education</span></h5>
              <p class="card-text">
                Help elementary students continue their education by providing
                learning modules and e-books.
              </p>
            </div>

            <div class="d-flex action-donate">
              <div class="text-center col"><span>P2,500</span></div>
              <div class="text-center col"><span>Donate Now</span></div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="custom-donate">
          <div class="row">
            <div class="col-md-7">
              <h4>Choose how much you want to contribute</h4>
              <p>
                Help children where they need it the most by improving their
                access to education, health, nutrition, and protection with a
                minimum donation of P300.
              </p>
            </div>
            <div class="col-md-5">
              <p class="d-none d-lg-block mb-3">
                <strong>Enter your own donation amount:</strong>
              </p>
              <!-- add .has-error class for error -->
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">P</span>
                </div>
                <input type="text" class="form-control" placeholder="300" />
                <div class="input-group-append">
                  <button class="btn btn-primary btn-desktop" type="button">
                    Donate Now
                  </button>
                </div>

                <div class="invalid-feedback">
                  <i class="fa fa-info-circle"></i>Kindly input a minimum amount
                  of P300.
                </div>
              </div>
              <a class="btn btn-primary btn-mobile" href="#" role="button"
                >Donate now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
