.checkout-section {


    @include respond-to("lg") {
        height: 100vh;
    }

    .donate-label {
        font-size: 0.8rem;
        text-align: center;

        @include respond-to("lg") {
            font-size: 1rem;
            text-align: left;
            width: 60%;
        }
    }

    .donation-details {
        @include respond-to("lg") {
            align-items: center;
            display: flex;
        }

        .product {
            margin-top: 25px;

            .label {
                span {
                    font-size: 0.8rem;
                    display: block;
                    line-height: 4px;
                }

                strong {
                    font-size: 1.4rem;
                }
            }


            @include respond-to("lg") {
                display: flex;

                .label {
                    margin: 8px 10px 0;

                    span {
                        line-height: normal;
                        display: inline;
                        font-size: inherit;
                    }
                }
            }
        }
    }

    .page-content {
        padding-left: 0;
        padding-top: 10px;

        @include respond-to("lg") {
            padding-top: 50px;
            padding-left: 10%;
        }
    }

    .donation-amount {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        height: 120px;
        width: 145px;
        margin: auto;

        @include respond-to("lg") {
            margin: 0
        }

        @include respond-to("xl") {
            margin: 0 10% 0 0;
            width: 220px;
            height: 180px;
        }


        span {
            display: block;
            font-weight: 500;
        }

        .label {
            position: relative;
            top: 21px;
            font-size: 0.875rem;

            @include respond-to("xl") {
                top: 35px;
                font-size: inherit;
            }
        }

        .amount {
            color: #FFF;
            font-size: 1.4rem;
            position: relative;
            top: 5px;

            @include respond-to("xl") {
                font-size: 1.8rem;
                top: 10px;
            }
        }
    }

    .widget-title {
        font-size: 1.2rem;
        color: $theme-color;
        margin: 0;
    }
}

.counter-ui {
    width: 160px;
    height: 54px;
    margin: 20px auto;

    @include respond-to("lg") {
        margin: 0
    }

    .input-group-prepend {
        .input-group-text {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    .input-group-append {
        .input-group-text {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .input-group-text {
        background-color: $color-counter;
        border: 1px solid $color-counter;
        color: #FFF;
        padding: 0.375rem 1.2rem;
        cursor: pointer;
    }

    .form-control {
        border: 1px solid $color-counter;
        text-align: center;
        height: 54px;
        font-weight: bold;

        &:focus {
            box-shadow: none;
        }
    }
}

.counter {
    a {
        text-decoration: underline;
        color: $black;
    }
}