.checkout-section {
    @include respond-to("lg") {
        //height: 100vh;
    }

    .donate-label {
        font-size: 0.8rem;
        text-align: center;

        @include respond-to("lg") {
            font-size: 1rem;
            text-align: left;
            width: 60%;
        }
    }

    .donation-details {
        @include respond-to("lg") {
            align-items: center;
            display: flex;
        }

        .product {
            margin-top: 25px;

            .label {
                span {
                    font-size: 0.8rem;
                    display: block;
                    line-height: 4px;
                }

                strong {
                    font-size: 1.4rem;
                }
            }


            @include respond-to("lg") {
                display: flex;

                .label {
                    margin: 8px 20px 8px 0;

                    span {
                        line-height: normal;
                        display: inline;
                        font-size: inherit;
                    }

                    strong {
                        font-size: inherit;
                    }
                }
            }
        }
    }

    .page-content {
        padding-left: 0;
        padding-top: 10px;

        @include respond-to("lg") {
            padding-top: 50px;
            padding-left: 9%;
        }
    }

    .donation-amount {
        background-repeat: no-repeat;
        background-size: contain;
        text-align: center;
        height: 120px;
        width: 145px;
        margin: auto;

        @include respond-to("lg") {
            margin: 0
        }

        @include respond-to("xl") {
            margin: 0 10% 0 0;
            width: 220px;
            height: 180px;
        }


        span {
            display: block;
            font-weight: 500;
        }

        .label {
            position: relative;
            top: 21px;
            font-size: 0.875rem;

            @include respond-to("xl") {
                top: 35px;
                font-size: inherit;
            }
        }

        .amount {
            color: #FFF;
            font-size: 1.4rem;
            position: relative;
            top: 5px;

            @include respond-to("xl") {
                font-size: 1.8rem;
                top: 10px;
            }
        }
    }

    .widget-title {
        font-size: 1.2rem;
        color: $theme-color;
        margin: 0;
        text-align: center;

        @include respond-to("lg") {
            text-align: left;
        }
    }

    .req-label {
        text-align: center;
        display: block;
        margin-bottom: 10px;

        @include respond-to("lg") {
            text-align: left;
        }
    }
}

.counter-ui {
    width: 160px;
    height: 54px;
    margin: 20px auto;

    @include respond-to("lg") {
        margin: 0;
        height: 45px;
    }

    .input-group-prepend {
        .input-group-text {
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
        }
    }

    .input-group-append {
        .input-group-text {
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }

    .input-group-text {
        background-color: $color-counter;
        border: 1px solid $color-counter;
        color: #FFF;
        padding: 0.375rem 1.2rem;
        cursor: pointer;
    }

    .form-control {
        border: 1px solid $color-counter;
        text-align: center;
        height: 54px;
        font-weight: bold;

        &:focus {
            box-shadow: none;
        }

        @include respond-to("lg") {
            height: 45px;
        }
    }
}

.counter {
    a {
        text-decoration: underline;
        color: $black;
    }
}

.parsley-form {
    .col-sm-6 {
        &:first-child {
            @include respond-to("sm") {
                padding-right: 7px;
            }
        }

        &:last-child {
            @include respond-to("sm") {
                padding-left: 7px;
            }
        }

        .form-fieldset {
            padding-top: 7px;
            padding-bottom: 7px;
        }
    }

    input {
        width: 100%;
        border: 0;
        background-color: #f3f3f3;
        padding: 10px;
        border-radius: 12px;
        font-size: 0.875rem;

        @include respond-to("sm") {
            border-radius: 5px;
        }
    }

    .parsley-errors-list {
        list-style: none;
        margin: 0 0 0 10px;
        padding: 0;
        font-size: 0.875rem;
        color: red;
    }
}

.action-btn {
    margin: 50px 0;

    .btn {
        font-size: 0.875rem;
        display: block;
        margin: auto;

        @include respond-to("sm") {
            display: inline;
            margin: 0;
        }
    }

    .btn-primary {
        padding-left: 45px;
        padding-right: 45px;
        text-transform: uppercase;
    }

    .btn-link {
        color: $black;

        text-decoration: underline;
    }
}

.payment-method-option {
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #e3e3e3;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    background-repeat: no-repeat;
    border: 2px solid transparent;
    padding: 20px;
    min-height: 120px;

    @include respond-to("xl") {
        padding: 12px;
        min-height: 90px;
    }

    &.selected {
        background-color: #0fb7f5
    }

    .payment-logo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        height: 40px;
    }

    span {
        font-size: 0.75rem;
        line-height: 13px;
        display: block;
        margin: -12px 0;

        @include respond-to("md") {
            font-size: 0.875rem;
            margin: -20px 0;
        }
    }

    input[type="radio"] {
        visibility: hidden;
    }

    input:checked+.radio-choice-label {
        font-weight: 700;
    }
}