// Layout
.main-section {
    position: relative;

    @include respond-to("lg") {
        //height: 100%;
    }

    .page-banner {
        height: 220px;
        width: 100%;
        background-position: -33% 90%;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond-to("md") {
            height: 100%;
            position: absolute;
            background-position: 15%;
        }
    }

    #arrow-down {
        position: fixed;
        bottom: 12%;
        right: 5%;
        z-index: 50;

        img {
            width: 30px;
        }

        @include respond-to("lg") {
            img {
                width: 40px;
            }
        }
    }
}