// Layout
.main-section {
    position: relative;

    @include respond-to("lg") {
        //height: 100%;
    }

    .page-banner {
        height: 220px;
        width: 100%;
        background-position: -33% 90%;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond-to("md") {
            height: 100%;
            position: absolute;
            background-position: 15%;
        }
    }
}