// Layout
.main-section {
    position: relative;

    @include respond-to("lg") {
        //height: 100%;
    }

    .page-banner {
        height: 380px;
        width: 100%;
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        @include respond-to("md") {
            //height: 100vh;
            position: absolute;
        }
    }
}