@import "_variables";
@import "_mixins";

html,
body {
  font-family: "Roboto", sans-serif;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
}

.btn-primary {
  background-color: $theme-color;
  border: 0;
}

@import "_layout";
@import "_home";
@import "_checkout";
@import "_modal";