@import "_variables";
@import "_mixins";

html,
body {
  font-family: "Roboto", sans-serif;
}

// Header
.site-header {
  .navbar {
    background-color: $theme-color;
    padding: 0.8rem 5%;
  }
}

.home-banner {
  .cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    margin-top: -2px;
  }

  .banner-text {
    //width: 40%;

    h1 {
      text-transform: uppercase;
    }
  }
}

.home-about-basket {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    background-image: url("../../assets/images/handwithbasket.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 200px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    @include respond-to("md") {
      width: 280px;
      height: 300px;
    }

    @include respond-to("lg") {
      display: none;
    }
  }

  .inner {
    background-color: #add3e1;
    background-repeat: no-repeat;
    padding: 10% 0;
  }
}

.x85lsu8lZie {
  position: relative;

  &:after {
    @include respond-to("lg") {
      content: "";
      background-image: url("../../assets/images/handwithbasket.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      width: 447px;
      height: 557px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}

.home-how-it-works {
  padding: 8% 0 40px;

  h2 {
    color: $theme-color;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none !important;
    }
  }

  .row {
    margin-top: 60px;
  }
}

.site-footer {
  padding: 10px 5%;
  background-color: $theme-color;

  .footer-logo {
    height: 40px;
  }
}

.product-card {
  position: relative;
  z-index: 50;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;

  .card-title {
    color: $theme-color;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1.2rem;

    span {
      display: block;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  .card-text {
    color: $black;
    font-size: 0.875rem;
    min-height: 90px;
    padding: 0 1.2rem;
  }

  .card-img,
  .card-img-top {
    border-radius: 20px;
    min-height: 245px;
  }

  .card-body {
    padding: 0;
  }

  .action-donate {
    .col {
      &:first-child {
        background: #add3e1;
        border-bottom-left-radius: 20px;
        color: $black;
        font-weight: 700;
        font-size: 1.7rem;

        span {
          position: relative;
          top: -5px;
        }
      }
      &:last-child {
        background: #00aeef;
        border-bottom-right-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
      }

      height: 60px;
      line-height: 60px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}

.custom-donate {
  border-radius: 20px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  padding: 20px;
}
