@import "_variables";
@import "_mixins";

html,
body {
  font-family: "Roboto", sans-serif;
}

.btn-primary {
  background-color: $theme-color;
  border: 0;
}

// Header
.site-header {
  .navbar {
    background-color: $theme-color;
    padding: 0.8rem 5%;
  }
}

.home-banner {
  .cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    color: #fff;
    margin-top: -2px;
  }

  .banner-text {
    //width: 40%;

    h1 {
      text-transform: uppercase;
    }
  }
}

.home-about-basket {
  position: relative;
  width: 100%;

  &:after {
    content: "";
    background-image: url("../../assets/images/handwithbasket.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 180px;
    height: 200px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";

    @include respond-to("md") {
      width: 280px;
      height: 300px;
    }

    @include respond-to("lg") {
      display: none;
    }
  }

  .inner {
    background-color: #add3e1;
    background-repeat: no-repeat;
    padding: 10% 0;
  }

  h2,
  p {
    text-align: left;

    @include respond-to("lg") {
      text-align: center;
    }
  }
}

.x85lsu8lZie {
  position: relative;

  &:after {
    @include respond-to("lg") {
      content: "";
      background-image: url("../../assets/images/handwithbasket.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: block;
      position: absolute;
      top: 10%;
      right: 0;
      width: 447px;
      height: 557px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";
    }
  }
}

.home-how-it-works {
  padding: 8% 0 40px;

  .title,
  .subtitle {
    text-align: left;

    @include respond-to("lg") {
      text-align: center;
    }
  }

  .title {
    color: $theme-color;
  }

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none !important;
    }
  }

  .product-row {
    margin-top: 60px;
  }
}

.site-footer {
  padding: 10px 5%;
  background-color: $theme-color;

  .footer-logo {
    height: 40px;
  }

  .footer-info {
    text-align: right;
    a {
      color: #fff;
      font-size: 0.8rem;
    }

    .social-links {
      a {
        background-color: #fff;
        color: $theme-color;
        width: 18px;
        border-radius: 3px;
        display: inline-block;
        text-align: center;
      }
    }

    .legal {
      @include respond-to("lg") {
        display: flex;

        small {
          line-height: 27px;
          margin-left: 5px;
        }
      }

      li {
        margin-right: 0;

        &:after {
          content: "|";
          color: #fff;
          padding-left: 5px;
        }

        &:last-child {
          &:after {
            content: "";
            padding-left: 0;
          }
        }
      }
    }

    small {
      display: inherit;
      color: #fff;
    }
  }
}

.product-card {
  position: relative;
  z-index: 50;
  border: 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;

  .card-title {
    color: $theme-color;
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem 1.2rem;

    span {
      display: block;
      font-weight: 700;
      font-size: 1.8rem;
    }
  }

  .card-text {
    color: $black;
    font-size: 0.875rem;
    min-height: 90px;
    padding: 0 1.2rem;
  }

  .card-img,
  .card-img-top {
    border-radius: 20px;
    min-height: 245px;
  }

  .card-body {
    padding: 0;
  }

  .action-donate {
    .col {
      &:first-child {
        background: #add3e1;
        border-bottom-left-radius: 20px;
        color: $black;
        font-weight: 700;
        font-size: 1.7rem;

        span {
          position: relative;
          top: -5px;
        }
      }
      &:last-child {
        background: #00aeef;
        border-bottom-right-radius: 20px;
        color: #fff;
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
      }

      height: 60px;
      line-height: 60px;
    }

    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
}

.custom-donate {
  margin: 20px 0;
  border-radius: 20px;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0.2);
  padding: 10%;

  @include respond-to("lg") {
    margin: 60px 0;
    padding: 35px 50px;
  }

  p {
    font-size: 0.875rem;
    margin: 0;
  }

  h4 {
    font-size: 1rem;
    color: $theme-color;
    font-weight: 700;
  }

  .col-md-7,
  .col-md-5 {
    text-align: center;

    @include respond-to("lg") {
      text-align: left;
    }

    .btn {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  input {
    border: 0;
    background: #f3f3f3;
    font-weight: 700;

    &:hover,
    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: none;
      background: #f3f3f3;
    }
  }

  .input-group {
    margin: 30px 0;

    @include respond-to("lg") {
      margin: 0;
    }
  }

  .input-group-text {
    background-color: #add3e1;
    border: 0;
    font-weight: 700;
  }

  .btn-mobile {
    @include respond-to("lg") {
      display: none;
    }
  }

  .btn-desktop {
    display: none;
    @include respond-to("lg") {
      display: inline;
    }
  }
}
